@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Poppins:ital,wght@1,100&display=swap');
@font-face {
    font-family: 'Bonny';
    src: url(./fonts/bonny.ttf);
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#container{
    padding: 0rem 4rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0;
}


.logo{
    color: #FF6B00;
    font-family: 'Bonny';
    font-size: 1.5rem;
}
.menu{
    display: flex !important;
    position: relative;
}

.menu .head-lst{
    display: flex;
    position: relative;
    list-style: none;
    gap: 30px;
    text-transform: uppercase;
    font-family: sans-serif;
}
.menu a{
    text-decoration: none;
    color: #000000;
}
.icon{
    display: flex;
    gap: 10px;
}

/* <!-- Make Every Occasion Memorable --> */

.make h1{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Bonny';
}
.make h3{
    font-family: 'Bonny';
    font-weight: 500;
    font-size: 57px;
    margin-bottom: 50px;
    line-height: 80px
    
}
.make h4{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: sans-serif;
    
}

.make p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.buandmoney{
    display: flex;
    align-items: center;
    gap: 3%;
    margin-top: 2%;
}
.buandmoney2{
    display: flex;
    align-items: center;
    display: none;
}
.money{
    font-size: 30px;
    font-family: sans-serif;
}
.on{
    background:#FF6B00;
    border: none;
    width: 100px;
    height: 36px;
    border-radius: 12px;
    color: white;
    transition: .3s;
}
.on:hover{
    color: #000000;
    background: white;
    border: 2px solid #FF6B00;
}

.makeand.pic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 0 5rem;
}

.cpic{
    position: relative;
}
.cpic img{
    width: 340px;

}
img.bpic {
    /* position: absolute;
    width: 478px;
    left: 1054px;
    top: 90px;
    z-index: -1; */
    position: absolute;
    width: 478px;
    left: -75px;
    top: -41px;
    z-index: -1;
}

/* <!-- star to Our best sellers --> */
.sell{
    font-family:'bonny';
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.cmcp li, a{
    list-style: none;
    text-decoration: none;
    color: #FF6B00;
    font-family: sans-serif;

}
.cmcp ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 2rem;
    font-family: sans-serif;
}
.cs{
    background:white;
    border: 2px solid #FF6B00;
    border-radius: 18px;
    width: 70px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.cs a{
    color: #000000;
}

/* ckaes picture 4 */
.pic4{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px;

}
.pg4 {
    padding: 10px;
    border-style: groove;
    text-align: center;
    width: 280px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #000000;
}
.my{
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px;
}
.pg4 p{
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    height: 7rem;
}
.cfc{
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

.bon{
    background:#FF6B00;
    font-family: 'bonny';
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 250px;
    height: 36px;
    border-radius: 12px;
    color: white;
    transition: .2s;
}
.bon:hover{
    background: white;
    color: #FF6B00;
    border:2px solid #FF6B00;
}

/* <!-- Why people love Sugar Bubble cakes --> */
.why {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-family: "bonny";
    font-size: 20px;
}

.wplsbc{
    
    background: #FFF3EA;
    /* background: yellowgreen; */
    height: 190px;
    padding: 100px 0 100px;
    margin-top: 250px;
    margin-bottom: 200px;
}
.test{
    display: flex;
    align-items:center;
    justify-content: center;
}
.Sugar{
    max-width: 500px;
    text-align: center;
    font-family: sans-serif;
}
.mary{
    text-align: center;
    line-height: 3;
    font-family: 'Montserrat', sans-serif;
}

/* <!-- now to About us --> */

.hp{
    width: 1240px;
    margin: auto;
   
}
.aout{
    text-align: center;
    /* margin-top: 50px; */
    margin-top: 250px;
    margin-bottom: 200px;
}
.aout h3{
    /* margin-bottom: 10px; */
    line-height: 200%;
    font-family: 'bonny';
    font-weight: 700;
    font-size: 40px;
    
}
.aout p{
    font-family: sans-serif;
}

/* <!-- now to Upto 20% offer --> */
.vpic svg{
    width: 100%;
    margin-top: -2rem;
    /* filter: drop-shadow(3px 5px 15px rgb(0 0 0 / 0.4)); */
}

.print{
    background: #FF6B00;
    height: 440px;
}
.bg{
    text-align: center;  
}
.bg h3{
    font-family: 'bonny';
    font-size: 40px;
    color: white;
    line-height: 5rem;
}
.bg p{
    font-family: sans-serif;
    font-size: 20px;
    color: #ffff;
    line-height: 3rem;
}
.onow{
    background: #ffff;
    border: none;
    border: 2px solid white;
    height: 50px;
    width: 130px;
    color:#FF6B00;
    font-family: 'bonny';
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;
}
.onow:hover{
    color: #ffff;
    /* border: 2px solid #ffff; */
    background: #FF6B00;
}

/* <!-- now to footer --> */
.fgroup{
    display: flex;
    justify-content: space-between;
    padding:2rem 4rem;
    flex-wrap: wrap;
}
.sbc h2{
    color: #FF6B00;
    font-family: 'bonny';
    margin-bottom: 1rem;
}
.sbc p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}
.get{
    text-align: center;
}
.get h3{
    font-family: sans-serif;
    margin-bottom: 1rem;
}
.get p{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}
.ql{
    font-family: sans-serif;
    line-height: 2rem;
    text-transform: uppercase;
}
.ql li{
    list-style: none;
}

/* email only */
.textmail{
    display: flex;
    padding: 9px;
    border: 2px solid #FF6B00;
    border-radius: 20px;
}
.mail{
    border: 0px solid;
    height: 26px;
    outline: none;
    width: 320px;
}
.email{
    width: 60px;
    font-size: 20px;
}

/* MENU SHOW ONLY */
.close{
    display: none !important;
}
#open{
    position: absolute;
    /* display: block !important; */
    top: 70%;
    line-height: 2.5;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: block; 

 }
 #open a:focus{
    color: #FF6B00;
 }

#bars2{
    display: none;
}
#bs2{
    font-size: 22px;
    cursor: pointer;
    display: none;
    margin-right: 10px;
}

.social-media{
    text-align: center;
    display: none;
}
.social-mediao{
    text-align: center;
    display: none;
}
.social-mediao {
    margin-top: 230px;
}

 /* responsive used for mobile phones. */

 @media  all and (max-width:900px){

    .logo{
        margin-right: 50px;
    }

    .head-lst li{
        list-style: none;
    }
    .bb2{
        /* background: #FFFFFF; */
        background: #d7b094;
        z-index: 1;
        position: absolute;
        width: 300px;
        height: 760px;
        left: 0px;
        top: 0px;
        transition: .3s;
    }
 
    .head-lst{
        text-align: center;
        margin-top: 100px;
        line-height: 3rem;

    }
    #mu{
        color: orange;
        font-size: 30px;
        font-family: sans-serif;
    }

  .menu{
    display: none !important;
  }
    #bs2{
        display: block;
    }

    /* #bars2{
        display: none; 
    } */
    #bars2.hide{
        display: block !important;
    }
    .icon{
        display: none;
    }

    .cpic{
        position: absolute;
        left: 9%;
    }
    .make{
        text-align: center;
    }
    .make h1{
    font-size: 34px;
    }
    .make h3{
        font-size: 27px;
    }

    .cpic img {
        position: absolute;
        width: 286px;
        left: 22px;
        top: -247px;
    }
    img.bpic {
        position: absolute;
        width: 400px;
        left: -44px;
        top: -280px;
        z-index: -1;
    }

    .clc {
        margin-top: 520px;
    }
    .buandmoney{
        display: none;
    }
    .buandmoney2{
        display: block;
    }
    #mmoo{
        display: flex;
        gap: 15px;
    }
    .money{
        margin-left: 3rem;
    }

    /* <!-- Why people love Sugar Bubble cakes --> */
    .why h3 {
        font-size: 21px;
    }
    .wplsbc{
        padding: 4%;
    }
    .aout{
        padding: 4%;
    }
    .vpic svg{
        margin-top: -9px;
        width: 100%;
        height: auto;
    }
    .print {
        height: 320px;
        margin-bottom: 15px;
    }

    .sbc {
        display: none;
    }
    .ql{
        display: none;
    }
    .pic4{
        flex-wrap: wrap;
    }

    .hp {
        width: auto;
        margin: auto;
    }
    .mail{
        width: auto;
    }
    .social-media{
        display: block;
    }
    .social-mediao{
        display: block;
    }
 }